.header h1 {
    font-family: 'Anton';
    text-align: center;
}

.header h3 {
    font-family: 'Roboto Condensed';
    font-size: 400;
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid #e3e4d1;
    width: 70%;
    margin: 1rem auto;
}

.slide__container {
    display: flex;
    flex-direction: column;
}

.descricao {
    font-family: 'Roboto Condensed';
    font-size: 300;
    text-align: justify;
    padding: 1rem;
}

.imagem {
    width: 100vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
}